@model IEnumerable<lab2.Models.Book>

@{
    ViewBag.Title = "图书主页";
}

<h2>图书主页</h2>

<p>
    @Html.ActionLink("创建新书", "Create")
    @using (Html.BeginForm())
    {
    <p>
        作者名字: @Html.TextBox("SearchString") <br />
        <input type="submit" value="查询" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.ActionLink("" + item.Title, "Details", new { id = item.ID })
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
             
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
